*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

/* Clock Body */

.clock{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: radial-gradient(circle, #111 60%, #000);
    border: 8px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.05), 0 15px 40px rgba(0, 0, 0, 0.6);
    position: relative;

}

/* Logo */
.clock img{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 65px;
    opacity: 0.9;
}

/* Numbers */

.numbers span{
    position: absolute;
    color: #f5d76e;
    font-size: 22px;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(245, 215, 110, 0.4);
}

.twelve{
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.three{
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
}

.six{
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.nine{
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
}

/* Arrows */

.arrows{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows::before{
    content: "";
    width: 18px;
    height: 18px;
    background: gold;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px gold;
}

.arrows div{
    position: absolute;
    bottom: 50%;
    transform-origin: bottom;
    border-radius: 10px;
}

/* Hour */
.hour{
    height: 70px;
    width: 7px;
    background: #fff;
    opacity: 0.9;
}

/* Minute */
.minute{
    height: 100px;
    width: 5px;
    background: #f1f1f1;
}

/* Second */
.second{
    height: 120px;
    width: 3px;
    background: gold;
    box-shadow: 0 0 15px gold;
}